.form-signin input[type="password"], .form-signin input[type="email"] {
  font-size: 16px;
  height: 45px;
  padding: 7px 9px; }

html, body {
  background: linear-gradient(to right, dimgrey, white); }

* {
  box-sizing: border-box; }

a {
  color: blue; }

.main {
  flex: 70%;
  background-color: #fff;
  padding: 20px; }

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: #fff; }

.row {
  display: flex;
  flex-wrap: wrap; }

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px; }

.clothing img {
  position: relative;
  padding: 5px;
  width: 150px;
  height: 150px; }

.postImg {
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  bottom: 25%;
  left: 48%; }

.postSmall {
  position: relative;
  top: 64px;
  left: -280px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333; }

li {
  float: left; }

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333; }

li a:hover:not(.active) {
  background-color: #fff; }

.active {
  background-color: #fff; }

h1 {
  color: black;
  text-align: center; }

.contact {
  text-align: center;
  color: black;
  font-size: 25px; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 52px; }

.dropdown:hover .dropdown-content {
  display: block; }

.goButton {
  text-align: center; }

.logo {
  width: 150px;
  height: 150px;
  position: relative;
  right: 26em; }

.topnav {
  position: relative;
  right: 2em; }

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column; }

  .navbar {
    flex-direction: column; } }
@media screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  html {
    width: 100%; }

  .topnav {
    width: 100%; }
    .topnav ul {
      display: block;
      padding: 0;
      text-align: center; }
      .topnav ul li {
        padding: 0;
        margin-bottom: 8px;
        margin-top: 8px; }

  .overview {
    display: grid;
    margin-left: 12%;
    width: 100%; }

  .logo {
    left: 10em; } }
footer {
  position: absolute;
  left: 2px;
  bottom: -234px;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, dimgrey, white); }

.form-signin {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  font-family: sans-serif, Geneva, sans-serif;
  color: #990000;
  font-weight: lighter;
  position: relative;
  left: 10em; }
  .form-signin .form-signin-heading {
    color: #00a2d1; }

.adminNav li a {
  display: block;
  color: black; }

.terms {
  position: relative;
  width: 25%;
  height: 100%;
  left: 52em;
  top: 1em; }

.bottomBorder {
  border-bottom: 3px solid; }

.centerPost {
  position: relative;
  top: 15%;
  left: 15%; }

[id='toggle-heart'] {
  position: absolute;
  left: -100vw; }

[for='toggle-heart'] {
  color: #aab8c2; }

[id='toggle-heart']:checked + label {
  color: #e2264d; }

[for='toggle-heart'] {
  font-size: 2em;
  cursor: pointer;
  position: relative;
  left: 950px; }

[for='toggle-heart'] {
  align-self: center; }

.adminTable {
  border-collapse: collapse;
  width: 100%; }

.adminTable td, .adminTable th {
  border: 1px solid #ddd;
  padding: 8px; }

.adminTable tr:nth-child(even) {
  background-color: #f2f2f2; }

body {
  font-family: Verdana, sans-serif; }

.mySlides {
  display: none; }

.mySlides2 {
  display: none; }

img {
  vertical-align: middle; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

/* Caption text */
.text {
  color: #e2264d;
  font-size: 20px;
  padding: 8px 11px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px; } }
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px; }

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
